@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

#opacity-1, #opacity-2, #opacity-3{
    filter: brightness(50%);
}
.bg-explore{
    background-color: #F4FAFD;
}
.bg-explore h2{
    padding-top: 20%;
    
}
@media screen and (max-width: 991px) {
    .trusted-company{
        display: none;
    }
    
}