@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

#opacity-1, #opacity-2, #opacity-3{
    filter: brightness(50%);
}
.bg-explore{
    background-color: #F4FAFD;
}
.bg-explore h2{
    padding-top: 20%;
    
}
.centered-1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 991px) {
    .trusted-company{
        display: none;
    }
    
}
@media only screen and (max-width: 576px) {
    .mobile-view{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (min-width: 200px) and (max-width: 991px) {
        .centered-1 {
            position: relative;
            text-align: center;
            color: rgb(255, 255, 255);
            
        }
    
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            margin-top: 10px;
            
        }
}